:host{
    slider-image{
        min-height: 300px;
    }
    banner-item{
        width: 13px !important;
        height: 13px;
        border-radius: 50%;
        border-color: #ccc;
        background-color: #ccc;
    }
}

@media (min-width: 1200px) {
    :host{
        banner-item{
            width: 70px !important;
            height: 55px;
            border-radius: 0;
            padding: .25rem;
            background-color: #fff;
        }
    }
}