:host ::ng-deep{
    display: inline-block;
    .product__item-code{
        font-size: .9rem;
    }
}

:host(.text-overflow-hidden){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}